* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

}

.container {
  width: 90%;
  margin: 0 auto;
}

body{
  font-family:'Poppins' ,sans-serif;
}

#header {
  background: lightpink;

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-weight: 700;
      font-size: 36px;
      line-height: 54px;
      display: flex;
      align-items: center;
      text-align: center;

      color: #FFFFFF;

    }

    &--link {
      margin-left: auto;
      width: 80%;
      display: flex;
      justify-content: space-between;

      a {
        font-weight: 600;
        font-size: 26px;
        line-height: 54px;
        display: flex;
        align-items: center;
        text-align: center;

        color: #FFFFFF;
        transition: .2s;

      }
      a:hover{
        background: transparent;
        color: #875CAA;
      }

      &__items {
        padding: 0 10px;
        font-weight: 600;
        font-size: 26px;
        line-height: 54px;
        display: flex;
        align-items: center;
        text-align: center;

        color: #FFFFFF;
      }
    }
  }
}

#hero {
  background: #F382D8;

  .hero {
    display: flex;
    justify-content: space-between;

    .hero-one {
      margin-top: 100px;
    }

    h1 {
      margin-left: -70px;
      font-weight: 700;
      font-size: 55px;
      line-height: 82px;
      text-align: center;

      color: #FFFFFF;

    }

    p {
      padding: 20px 0;
      font-weight: 300;
      font-size: 24px;
      line-height: 36px;

      color: #FFFFFF;

    }

    button {
      width: 247px;
      height: 65px;
      font-size: 22px;
      border-radius: 30px;
      border: none;
      background: #875CAA;
      color: white;
      transition: .4s;
    }

    .hero-one button:hover {
      color: black;
      background: lightpink;
    }
  }
}

#hero-one{
  background: #F382D8;
  .hero--one {
    display: flex;
    justify-content: space-between;

    &__left {
      h1 {
        padding: 50px 0;
        display: flex;
        align-items: start;
        font-weight: 700;
        font-size: 55px;
        line-height: 82px;
        text-align: center;

        color: #FFFFFF;

      }
      img{
        margin-left: 30px;
      }


    }

    &__right {
      margin-top: 100px;
      h1 {
        margin-left: -70px;
        font-weight: 700;
        font-size: 40px;
        line-height: 60px;

        color: #FFFFFF;

      }

      h2 {
        font-weight: 600;
        font-size: 35px;
        line-height: 52px;

        color: #FFFFFF;

      }

      &--block {
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        text-align: start;
        width: 607px;
        height: 420px;
        background: rgba(135, 92, 170, 0.4);
        border-radius: 30px;

        h2{
          padding: 10px 0;
          margin-left: 30px;
          font-weight: 600;
          font-size: 35px;
          line-height: 52px;

          color: #FFFFFF;

        }
        input{
          //margin: 10px 0;
          margin-left: 20px;
          width: 560px;
          height: 45.61px;
          background: #C4C4C4;
          border-radius: 40px;
          border: none;
        }
      }
    }
  }

}
#hero-two{
  background: #F382D8;
  .hero--two{
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
#hero-three {
  background: #F382D8;


    .hero--three {

      &__title{
        font-weight: 700;
        font-size: 48px;
        line-height: 72px;
        //text-align: center;

        color: #FFFFFF;
      }
      &__one{
        display: flex;
        //align-items: center;
        justify-content: space-between;
      }
      &--right {
        p {
          margin-top: 50px;
          padding: 20px 0;
          font-weight: 300;
          font-size: 24px;
          line-height: 36px;

          color: #FFFFFF;

        }

        ion-icon {
          color: white;
          font-size: 42px;
          transition: .4s;
        }

        ion-icon:hover {
          color:  #875CAA;
        }
      }
    }
}

#footer{
  background: rgba(135, 92, 170, 0.81);

  .footer{
    padding: 40px 0;
    &--title{
      h1{
        font-weight: 700;
        font-size: 48px;
        line-height: 72px;
        //text-align: center;

        color: #FFFFFF;

      }
      h4{
        font-weight: 400;
        font-size: 30px;
        line-height: 45px;
        //text-align: center;

        color: #FFFFFF;

      }
      span{
        font-weight: 400;
        font-size: 25px;
        line-height: 45px;
        text-align: center;

        color: #FFFFFF;

      }
      button{
        padding: 20px 0;
        border: none;
        width: 247px;
        height: 55px;
        background: linear-gradient(0deg, rgba(135, 92, 170, 0.45), rgba(135, 92, 170, 0.45)), rgba(243, 130, 216, 0.5);
        mix-blend-mode: lighten;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        transition: .4s;
      }
      button:hover{
        color: white;
        background: lightpink;
      }
      &__one{
        input{
          margin: 20px 10px;
          border: none;
          width: 433px;
          height: 46px;
          background: #C4C4C4;
          border-radius: 40px;
        }
        button{
          border: none;
          width: 247px;
          height: 45px;
          background: linear-gradient(0deg, rgba(135, 92, 170, 0.45), rgba(135, 92, 170, 0.45)), rgba(243, 130, 216, 0.5);
          mix-blend-mode: lighten;
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 30px;
        }
      }
    }


  }
}